/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */
.image{
    position: relative;
    display: inline-block;
    font-size: 1rem;
    text-align:center;
    text-transform: uppercase;
    margin: 0 0 40px;
}
.image::after{
    position: absolute;
    display: inherit;
    width: 100%;
    min-width: 200px;
    left: 0;
    top:0;
    padding: 10px 20px 10px 45px;
    background-color: #f0f0f0;
    background-image: url(noimage.png);
    border:dashed 1px #888 ;
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 15px 10px;
    z-index: 1;
    content: "" attr(alt) "Not found";
}